<html>
    <head>
        <style>
         div.definition
         {
             white-space: pre-wrap
         }

         body
         {
             margin: 0 auto;
             max-width: 900px;
             font-size: 1.25em;
         }

        </style>

        <style>
         {{ orihime-colors }}
        </style>

        
    </head>
    <body> 

        <div id="anki-text">
        {{ ANKI-Text }}
        </div>

        <script>

         function is_definition(node)
         {
             return node.tagName == "DIV" && node.className == "definition";
         }

         function is_reading(node)
         {
             return node.tagName = "DIV" && node.className == "reading";
         }

         let toggle_sibling_paragraphs_display =
             function (event)
             {
                 for ( let node of this.parentElement.childNodes )
                     if ( is_definition(node) )
                         node.style.display = node.style.display == "block" ? "none" : "block";
             }

         let words = document.getElementsByClassName("orihime-word");

         function hide_words_and_set_onclick() 
         {
             for ( let word of words )
                 for ( let node of word.childNodes )
                 {
                     if ( is_reading(node) )
                         node.onclick = toggle_sibling_paragraphs_display;

                     if ( is_definition(node) )
                         node.style.display = "none";
                 }
         }

         hide_words_and_set_onclick()

         let definitions = []

         for ( let word of words )
         {
             for ( let node of word.childNodes )
             {
                 if ( is_definition(node) )
                     definitions.push(node.innerHTML)
             }
         }

         function toggle_definition(word_number)
         {
             for ( let node of words[word_number].childNodes )
             {
                 if ( is_definition(node) )
                 {
                     node.innerHTML = node.innerHTML == '[...]' ? definitions[word_number] : '[...]';
                 }
             }
         }

         {{ toggle-snippet }}

         function update_definition()
         {
             let result = document.evaluate("//div[@id=\"anki-text\"]/div[@class=\"definition\"]", document)
             let text_hash = result.iterateNext().id

             let selection = window.getSelection()

             function reqListener () {
                 console.log(this.responseText);
                 result = document.evaluate("//div[@id=\"anki-text\"]", document);
                 result.iterateNext().innerHTML = this.responseText;
                 hide_words_and_set_onclick();
             }

             var oReq = new XMLHttpRequest();
             oReq.addEventListener("load", reqListener);
             oReq.open("POST", "/show-text?text-hash=" + text_hash);
             oReq.setRequestHeader("Accept", "vnd+orihime.text")
             oReq.send();
         }

         function add_child_word()
         {

             let selection = window.getSelection()

             let text_hash = selection.anchorNode.parentElement.id;
             let ocurrence = selection.toString();
             let reading = ocurrence;

             function reqListener () {
                 console.log(this.responseText);
                 update_definition();
             }

             var oReq = new XMLHttpRequest();
             oReq.addEventListener("load", reqListener);
             oReq.open("POST", "/add-child-word-to-text?text-hash=" + text_hash + "&reading=" + reading + "&ocurrence=" + ocurrence + "&backend=larousse");
             oReq.send();

         }

        </script>
    </body>
</html>
