\documentclass[margin=0.25in,varwidth=5in]{standalone}

\usepackage{xeCJK}
\setCJKmainfont{Source Han Serif}

%% https://tex.stackexchange.com/questions/388060/how-to-get-paragraph-breaks-in-a-standalone-document
\usepackage{calc}
\makeatletter
\g@addto@macro{\@parboxrestore}{\parskip=\baselineskip}
\makeatother

\begin{document}

{{content}}

\end{document}
