let current_field_number = {{ field-number }};
toggle_definition(current_field_number);

for ( let node of words[current_field_number].childNodes )
{
    if ( is_reading(node) )
        node.onclick();
}
